In [2]:
import funcoes 
dados = funcoes.listar_dados()
columns = ['nome','idade','data_nascimento','empresa','cargo','exames']
print(columns)

['nome', 'idade', 'data_nascimento', 'empresa', 'cargo', 'exames']

In [3]:
import pandas as pd
import funcoes 
import numpy as np

dados = np.array(dados)

df = pd.DataFrame(dados,columns=columns) 

display(df)

,nome,idade,data_nascimento,empresa,cargo,exames
0,Levi Poiani,29,1990-01-01,Poiani Medicina e Segurança do trabalho,Manutentor Técnico,b
1,Levi Poiani,29,1990-01-01,Poiani Medicina e Segurança do trabalho,Manutentor Técnico,b
2,Levi Poiani,29,1990-01-01,Poiani Medicina e Segurança do trabalho,Manutentor Técnico,b
3,Levi Poiani,29,1990-01-01,Poiani Medicina e Segurança do trabalho,Manutentor Técnico,zzzzzzzzzzzzzzzzzzzzzzzz
4,Levi Poiani,54645,1990-01-01,hgnghn,nghnghn,nghng